{% block title %}Introduction{% endblock %}
{% block content %}

    <h2>Welcome to The Mini Ultimatum Game</h2>

    <p>In this game, you will take on one of the three roles below:</p>

    <p><strong>Player 1:</strong> You have been endowed with Ksh 200 and must decide how much to send to Player 2.</p>

    <p><strong>Player 3 (The Punisher):</strong> You will observe the transaction, what Player 1 has decided to send Player 2. Depending on your judgment, you can choose to "Punish" or "Not Punish" Player 1.</p>

    <p><strong>Player 2:</strong> You will receive an amount from Player 1 depending on The Punisher's decision.</p>

    <p>Remember, your decisions will affect your earnings, so choose wisely!</p>

    {{ next_button }}

{% endblock %}