
{% extends "global/Page.html" %}

{% block title %}Survey{% endblock %}

{% block content %}

<p>
    Please answer the following  questions:
</p>

<form method="post">
    {{ form.capital_city }}
    {{formfields}}

    <label for="math_answer">What is 14+19 ?</label>
    <input type="text" id="math_answer" name="math_answer" class="form-control" placeholder="Enter your answer">
    <input type="button" value="Check Answer" class="btn btn-primary" id="check-answer-button">

    <div id="population-question-div" style="display: none;">
        <label for="population_answer">What is the population of Kenya?</label>
        <input type="text" id="population_answer" name="population_answer" class="form-control" placeholder="Enter the population">
    </div>
</form>

{{next_button}}
<script>
    document.getElementById("check-answer-button").addEventListener("click", function() {
        var userMathAnswer = document.getElementById("math_answer").value;
        var correctMathAnswer = "{{ correct_math_answer }}";

        if (userMathAnswer === correctMathAnswer) {
            document.getElementById("population-question-div").style.display = "block";
            document.getElementById("finish-button").style.display = "inline-block";
        } else {
            alert("Incorrect math answer. Please try again.");
        }
    });

    {% comment %} document.getElementById("finish-button").addEventListener("click", function() {
    }); {% endcomment %}
</script>

{% endblock %}
